<div class="slider">
  <ul class="slides">
    <li>
      <img src="assets/images/1.jpeg">
      <div class="caption  center-align">
        <br>
        <h3>Publica tu negocio en internet</h3>
        <h5 class="light grey-text text-lighten-3">Nosotros te ayudamos</h5>
        <br><br>
        <button  class="waves-effect grey darken-4 waves-light btn-large" type="button" name="button">Quiero saber mas</button>
      </div>
    </li>
    <!--li>
      <img src="assets/images/2.jpeg">
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="assets/images/3.jpeg">
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="assets/images/4.jpeg">

      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li-->
  </ul>
</div>
